{% extends 'base.html' %}
{% load static %}


{%block content%}

<div class="container2">
    <video src="{% static 'images/video.mp4'%}" autoplay loop muted></video>
    <div class="story-wraper">
        {%for story in stories%}
        <div class="story-bg">
            <div class="story">
                <img src="{{story.image.url}}" alt="image">
                <div class="story1">
                    <h2 class="story-heading">{{story.header}}</h2>
                    <p class="story-paragraph">{{story.paragraph}}</p>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>

{% endblock %}